{% extends 'base.html' %}
{% block content %}

    <div class="container_checkout">
        <div class="checkout">
            <div class="child">
            <h2>Fire Sales Awesome Express Checkout - Review Your Cart Items </h2>
                <div class="item_checkout p-3 border rounded">
                    <img class="p-1 rounded shadow img_checkout w-25"  src="{{ order.item.itemimage_set.first.url }}"
                         alt="{{ order.item.itemimage_set.first.description }}"/>
                    <p class="order_price"> <br>{{ order.amount|floatformat:'-2g' }} kr</p>
                    <h3 > {{ order.item.name }} </h3>

                    </div>
            </div>
            <form class="final_info" method="post">
                {% csrf_token %}
                {{ form.errors }}
                <div id="checkoutShipping" class="address border-top border-success mt-5">
                    <h4>Shipping Address</h4>
                    <p>Street Address{{ form.street_address }}</p>
                    <p> House Number{{ form.house_number }}</p>
                    <p>City {{ form.city }}</p>
                    <p> Country {{ form.country }}</p>
                    <p>Postal code {{ form.postal_code }}</p>
                    <button type="button" class="btn btn-success" onclick="$('#checkoutPayment').show();$('#checkoutShipping').hide();$('#checkoutProceed').show();">To payment information</button>
                </div>


                <div id="checkoutPayment" class="payment border-top border-success mt-5" style="display:none">
                    <h4>Payment method </h4>
                    <p>Credit card holder{{ form.credit_card_holder }}</p>
                    <p>Credit card number{{ form.credit_card_number }}</p>
                    <p> Expiration Month{{ form.expiration_month }}</p>
                    <p>Expiration Year {{ form.expiration_year }}</p>
                    <p> CVV {{ form.cvv }}</p>
                    <button type="button" class="btn btn-success" onclick="$('#checkoutPayment').hide();$('#checkoutShipping').show();$('#checkoutProceed').hide();">Back to shipping information</button>
                </div>

                <br/>
                <input type="submit" class="btn btn-lg btn-warning rounded" value="Proceed" id="checkoutProceed" style="display:none">
            </form>
        </div>
    </div>
    </div>
    <br/><br/>
    {% if payment == 1 %}
    <script>
        $('#checkoutPayment').show();
        $('#checkoutShipping').hide();
        $('#checkoutProceed').show();
    </script>
    {% endif %}
{% endblock %}