{% load static %}
  <!-- Footer -->
  <footer class="bg-secondary text-white">
    <!-- Grid container -->
    <div class="container p">
      <!--Grid row-->
      <div class="row gx-0">
        <!--Grid column-->
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 footer_text">
          <h5 class="text-uppercase">Owners of this masterpiece</h5>
          <p>
            Authors <br>
              Kristinn Jósep Guðnason - kristinnjg20@ru.is <br>
              Páll Arnar Þorsteinsson - pallt21@ru.is <br>
              Andriy Fedorets - andriy21@ru.is
          </p>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">Fire Sale</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="{% static 'security.html' %}" class="text-white">Security in Fare Sale</a>
            </li>
            <li>
              <a href="{% static 'codeofconduct.html' %}" class="text-white">Code of Conduct</a>
            </li>
            <li>
              <a href="{% static 'cookies.html' %}" class="text-white">Cookie Policy</a>
            </li>
            <li>
              <a href="{% static 'privacy.html' %}" class="text-white">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-0">Help</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!" class="text-white">Helping Page</a>
            </li>
            <li>
              <a href="#!" class="text-white">Good Sales Advice</a>
            </li>
            <li>
              <a href="#!" class="text-white">Be in Touch</a>
            </li>
            <li>
              <a href="#!" class="text-white">Instructional Videos</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {% now "Y" %} Copyright: VLN2-H20
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
