.itemImage {
    max-width: 125px;
    max-height: 125px;
}
.itemDetailImage {
    max-height: 350px;
    max-width: 600px;
}
.profileImage {
    max-height: 300px;
    max-width: 300px;
}

.singleItemItem {
    transition: all 200ms ease;
}
.singleItemWidth {
    min-height: 16em;
}
.singleItemWidth.myProfile {
    min-height: 20em;
}
.singleItemWidth.myProfileOffers {
    min-height: 23em;
}
#placeBid{
    width: 50%;
}
#sort_order{
    margin-bottom: 2rem;
}

.singleItemName {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    margin-bottom: 0px;
}
.singleItemPrice {
    font-size:1em;
    font-weight: bold;
    color: darkslateblue;
    float:right;
    margin-bottom: 0px;
}
.singleItemHitcount {
    font-size:0.9em;
    color: darkgreen;
    float:left;
    margin-bottom: 0px;
}
.singleItemHighestBy {
    font-size:0.9em;
    color: darkgreen;
    float: left;
    margin-bottom: 0px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width: 100%;
}
.winningBid {
    color: maroon;
    font-weight: bold;
}
.base_div{
    background: #F8FDFF;
    width: 100%;
}
.container-full {
    background: #F8FDFF;
    border-bottom: 0.2px solid #000000;
    width: 100%;
}
.container{
    margin-left: -10px;
;
}

/* Hover over image - zoom and rotate */
/* [1] The container */
.img-hover-zoom {
    height: 60%;
    overflow: hidden;
    perspective: 1000px;
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
    transition: transform 0.2s ease-in;
    transform-style: preserve-3d;
    transform: scale(0.95) rotateY(20deg) ;
}

/* [3] Finally, transforming the image when container gets hovered */
.img-hover-zoom:hover img {
    transform: scale(1) rotateY(0deg);
}
/*Login page */
/*brake down login and password in different lines*/
.login {
    background: #f3f3f3;
    text-align: center;
    margin: auto;
    margin-block: 40px;
    width: 350px;
    padding: 49px;
    position: relative;
}
.complete_btn{
    background: #f3f36d;
    width: 180px;
    margin-top: 20px;
    font-size: 20px;
}
.pre_form_login{
 width: 90px;
}
/*Registration page*******************************/
/*align text on page******************************/
.registration{
     background: #f3f3f3;
    text-align: center;
    margin: auto;
    margin-block: 40px;
    width: 450px;
    padding: 49px;
    position: relative;
}
.register_h1{
    text-align: center;
    color: #047012;
}
.login_btn{
    background: #f3f36d;
    width: 180px;
    margin-top: 20px;
    font-size: 20px;
}
.helptext{
    font-size: 10px;
}
label{
    font-size: 25px;
}
.registration li:nth-child(1) {
  display: none;
}
.registration li:nth-child(2) {
    display: none;
}
.registration li:nth-child(3) {
  display: none;
}
.registration li:nth-child(4) {
  display: none;
}

/**navbar search bar and btn ********************************/
.ms-5{
    /*margin-left: 19rem!important;*/
}


/**Edit profile page  ********************************/

.container-full-2 h1{
    display: none;
}

.container-full-2{
    margin-left: 3%;
    margin-top: 20px;
}

.image{

}
.profile{
     list-style-type: none;
}

.Item_For_Sale{
    box-sizing: border-box;
    margin-left: 10%;
    width: max-content;
    border: 0.2px solid #000000;
    border-radius: 10px;
    padding: 9px;
    background: #6ef583;
}
.Item_My_Offers{
    box-sizing: border-box;
    margin-left: 10%;
    width: max-content;
    border: 0.2px solid #000000;
    border-radius: 10px;
    padding: 9px;
    background: #6ef583;
}
.Item_Offers{
    box-sizing: border-box;
    margin-left: 10%;
    width: max-content;
    border: 0.2px solid #000000;
    border-radius: 10px;
    padding: 9px;
    background: #6ef583;
}
.p_edit_profile{
    margin-bottom: 0px;
}
hr.profile {
    width: 95%;
    color: darkslateblue;
}

/**Edit Categories  ********************************/
.categories{
    background: #F8FDFF;
    border: 1px solid;
    margin-left: 2px;
    border-radius: 0.25rem!important;
}
.bio{
    box-sizing: border-box;
    width: 400px;
    height: 120px;
    background: #F8FDFF;
    border: 0.2px solid #000000;
    padding: 9px;
}
    /*cursor: pointer;*/
/** Items Create  ********************************/
.item_create_container{
    margin: 0 auto;
    width: 800px;
    height: 100%;
}
.heading_create_item{
   margin: 0 auto ;
   width: 80%;
    height: 100%;
}
.create_item{
    position: relative;
    margin-left: 30px;
}
.form-control{
   width: 60%;
}

#id_description{
    width: 400px;
    height: 100px;
}
.btn_create{
    background: #f3f36d;
    width: max-content;
    font-size: 20px;
    padding: 10px;
    margin: 10px 30px 40px 0;
}

/** Checkout index  ********************************/
.container_checkout{
    display: flex;
    justify-content: center;
    /*display:contents !important;*/

}
.checkout{
    display: flex;
    justify-content: center;
    flex-direction: column;

}
div.item_checkout{
    border: black 1px solid;
    margin-bottom: 15px;
    padding: 5px 5px 5px 20px;
    position: relative;
    width: 80%;
    height: 18%;

}
#id_house_number{
    width: 20%
}
#id_postal_code{
    width: 25%;
}
#id_expiration_year{
    width: 19%;
}
#id_expiration_month{
    width: 19%;
}
#id_cvv{
   width: 15%;
 }
#id_credit_card_number{
    width: 44%;
}
.img_checkout{
    /*align-self: center;*/
}
p.order_item{
    font-size: 20px;
    margin: -10rem 0 10rem 12rem;
    padding-bottom: 20px;
}
p.order_price{
    font-size: 20px;
    margin: -10rem 0 10rem 12rem;
}


/********************************************************/
.pagination{
    margin: 20px 0 20px 20px
}
@media only screen and (max-width: 576px) {
    .singleItemWidth {
        width:100%;
    }
}

@media only screen and (min-width: 576px) {
    .singleItemWidth {
        width:32%;
    }
}

@media only screen and (min-width: 992px) {
    .singleItemWidth {
        width:24%;
    }
}

@media only screen and (min-width: 1400px) {
    .singleItemWidth {
        width:16%;
    }
}
