.productImage {
    max-width: 125px;
    max-height: 125px;
}


@media only screen and (max-width: 576px) {
    .singleItemWidth {
        width:100%;
    }
}

@media only screen and (min-width: 576px) {
    .singleItemWidth {
        width:32%;
    }
}

@media only screen and (min-width: 992px) {
    .singleItemWidth {
        width:24%;
    }
}

@media only screen and (min-width: 1400px) {
    .singleItemWidth {
        width:16%;
    }
}
