{% extends 'base.html' %}
{% block content %}
    <div class="container-full">
        <div class="row">
            <div class="d-none d-sm-block col-sm-6 col-md-4 col-xl-3 col-xxl-2">
                    {% include 'item/categories.html' with categories=categories %}
            </div>
            <div class="col-sm-12 col-sm-6 col-md-8 col-xl-9 col-xxl-10">
                <div class="container">
                    <span id="items-header"><H1>Items</H1></span>
                    <div class="d-flex justify-content-around flex-wrap" id="items-container">
                        {% for item in items %}
                            {% include 'item/single_item.html' with item=item %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagination">
        <span class="step-links">
            {% if items.has_previous %}
                <a href="?page=1&items={{ items.paginator.per_page }}{{ search }}">&laquo; first</a>
                <a href="?page={{ items.previous_page_number }}&items={{ items.paginator.per_page }}{{ search }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ items.number }} of {{ items.paginator.num_pages }}.
            </span>

            {% if items.has_next %}
                <a href="?page={{ items.next_page_number }}&items={{ items.paginator.per_page }}{{ search }}">next</a>
                <a href="?page={{ items.paginator.num_pages }}&items={{ items.paginator.per_page }}{{ search }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

    {% include 'item/item_details.html' %}
{% endblock %}
