{% extends 'base.html' %}
{% block content %}
    <div class="container-full">
        <div class="row">
            <div class="col-6 col-md-4">

                    {% include 'item/categories.html' with categories=categories %}
            </div>
            <div class="col-md-8">
                 <H1>Items</H1>
                    {% for item in items %}
                        {% include 'item/single_item.html' with item=item %}
                    {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}