<!-- Item details modal -->
<div class="modal fade" id="itemDetailModal" tabindex="-1" aria-labelledby="itemDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="itemDetailModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="">
          <div class="border border-info rounded bg-light" style="text-align:center"><i class="" id="itemDetailCategoryTag"></i> <small id="itemDetailCategoryName"></small></div><br/>
          <!-- image carousel -->
          <div id="carouselItemIndicators" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner bg-dark bg-opacity-25">
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
              </button>
          </div>

          <p id="itemDetailModalBody">loading ...</p>
          <p id="itemDetailModalCondition">Condition: </p>
          <p id="itemDetailModalCurrentPrice"></p>
          <div class="itemDetailBidding form">
              <div class="form-group">
                <label for="exampleInputEmail1">Make an offer</label>
                <input type="number" class="form-control" id="palceBid" aria-describedby="palceBidHelp" >
                <small id="palceBidHelp" class="form-text text-muted">Make sure you are at least 1 higher than the current price</small>
                <input type="hidden" class="form-control" id="itemId" >
              </div>
              <button id="itemPlaceAnOffer" class="btn btn-primary" onclick="makeAnOffer();">Make an offer</button>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
