<div class="singleItemWidth text-center bg-white border border-success rounded p-2 align-items-stretch flex-grow-2 m-1">
    <div class="border border-info rounded bg-light" onclick="categoryFilter('{{ item.category.name }}', {{ item.category.id }});">
        <i class="{{ item.category.icon }}"></i>
        <small>{{ item.category.name }}</small>
    </div>
    <br/>
    <span onclick="getItemDetails({{ item.id }});" data-bs-dismiss="modal">
        <div class="img-hover-zoom">
            <img class="itemImage rounded shadow" src="{{ item.itemimage_set.first.url}}" alt="{{ item.itemimage_set.first.description }}" />
        </div>
        <p class="singleItemName">{{ item.name }}</p>
        <p class="singleItemPrice">{{ item.current_price|floatformat:"-2g" }}</p>

        {% if item.current_price < 1000000 %}
            {% if item.number_of_offers > 0 %}
                <p class="singleItemHitcount">Has offers</p>
            {% elif item.user == user and item.hitcount > 0 %}
                <p class="singleItemHitcount">{{ item.hitcount|floatformat:"-2g" }} hit{{ item.hitcount|pluralize:"s" }}</p>
            {% endif %}
        {% elif item.number_of_offers > 0 %}
            <p class="singleItemHitcount">Has offers</p>
        {% elif item.hitcount > 10 %}
            <p class="singleItemHitcount">Hot item</p>
        {% endif %}
    </span>
</div>