<div class="singleItemWidth text-center bg-white border border-success rounded p-2 align-items-stretch flex-grow-2 m-1">  <!--    col-sm-12 col-md-6 col-lg-3 col-xxl-2  -->
    <div class="border border-info rounded bg-light" onclick="categoryFilter('{{ item.category.name }}');"><i class="{{ item.category.icon }}"></i> <small>{{ item.category.name }}</small></div><br/>
    <div class="item-image-height">
        <img class="productImage rounded" src="{{ item.itemimage_set.first.url}}" alt="{{ item.itemimage_set.first.description }}" />
    </div>
    <p style="text-overflow: ellipsis;overflow:hidden;white-space:nowrap;">{{ item.name }}</p>
</div>