<div class="singleItemWidth myProfileOffers text-center bg-white border border-success rounded p-2 align-items-stretch flex-grow-2 m-1">

    <a href="/item/{{ offer.item.id }}/edit" class="itemEditor" style="text-decoration: none">
        <div class="border border-info rounded bg-light">
            <i class="bi bi-pencil-fill"></i>
            <small>EDIT ITEM</small>
        </div>
    </a>
    <a href="/item/{{ offer.item.id }}/offers" class="viewOffers" style="text-decoration: none">
        <div class="border border-info rounded bg-light">
            <i class="bi bi-search-heart"></i>
            <small>View offers</small>
        </div>
    </a>
    <br/>
        <div class="img-hover-zoom">
            <img class="itemImage rounded shadow" src="{{ offer.item.itemimage_set.first.url}}" alt="{{ offer.item.itemimage_set.first.description }}" />
        </div>
        <p class="singleItemName">{{ offer.item.name }}</p>
        <p class="singleItemPrice">{{ offer.highest|floatformat:"-2g" }}</p>  <!-- Smella á þetta til að sjá bids? -->
        <p class="singleItemHitcount">Visited {{ offer.item.hitcount|floatformat:"-2g" }} time{{ offer.item.hitcount|pluralize:"s" }}</p>
    <p class="singleItemHighestBy">Highest by {{ offer.highestUser }}</p>
</div>