<h2>{{ user.get_full_name }}</h2>
<br>
<ul class="profile">
    <li class="image" ><img src="{{ user.profile.image }}" alt="Profile Image" class="profileImage rounded"></li>
    <br>
    <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editPictureModal">Change picture</button>
    <br><br>
    <p class="p_edit_profile">Bio:</p>
    <li class="bio rounded" >{{ user.profile.bio }}</li>
</ul>
<br/>

{% if offersForMyItems|length > 0 %}
<h4 class="Item_Offers">Offers for my items</h4>
    <div class="container">
        <span id="items-header"><H2>Offers</H2></span>
        <div class="d-flex justify-content-around flex-wrap" id="items-container">
            {% for offer in offersForMyItems %}
                {% include 'user/current_offer_myitem.html' with offer=offer %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if myOffers|length > 0 %}
<h4 class="Item_My_Offers">My current offers</h4>
    <div class="container">
        <span id="items-header"><H2>My Offers</H2></span>
        <div class="d-flex justify-content-around flex-wrap" id="items-container">
            {% for offer in myOffers %}
                {% include 'user/current_offer_item.html' with offer=offer %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if myItems|length > 0 %}
<h4 class="Item_For_Sale">My items for sale</h4>
    <div class="container">
        <span id="items-header"><H1>Items</H1></span>
        <div class="d-flex justify-content-around flex-wrap" id="items-container">
            {% for item in myItems %}
                {% include 'item/single_item_myprofile.html' with item=item %}
            {% endfor %}
        </div>
    </div>
{% endif %}


    {% include 'user/profile_edit_picture.html' %}

