<div class="singleItemWidth myProfile text-center bg-white border border-success rounded p-2 align-items-stretch flex-grow-2 m-1">

    <a href="/item/{{ item.id }}/edit" class="itemEditor" style="text-decoration: none">
        <div class="border border-info rounded bg-light">
            <i class="bi bi-pencil-fill"></i>
            <small>EDIT ITEM</small>
        </div>
    </a>

        <div class="border border-info rounded bg-light">
            <i class="{{ item.category.icon }}"></i>
            <small>
                {{ item.category.name }}
                {% if item.number_of_offers > 0 %}
                    - <a href="/item/{{ item.id }}/offers" class="viewOffers" style="text-decoration: none">
                    View offers
                    </a>
                {% endif %}
            </small>
        </div>
    </a>
    <br/>
    <a href="/item/{{ item.id }}/edit" class="itemEditor">
        <div class="img-hover-zoom">
            <img class="itemImage rounded shadow" src="{{ item.itemimage_set.first.url}}" alt="{{ item.itemimage_set.first.description }}" />
        </div>
        <p class="singleItemName">{{ item.name }}</p>
        <p class="singleItemPrice">{{ item.current_price|floatformat:"-2g" }}</p>  <!-- Smella á þetta til að sjá bids? -->
        <p class="singleItemHitcount">{{ item.hitcount|floatformat:"-2g" }} hit{{ item.hitcount|pluralize:"s" }}</p>
    </a>
</div>