{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1 class="display-4">Message Inbox</h1>
        <p><small>You have {{ msg_count }} messages in your inbox. </small></p>
        <!-- Messages generated in message/views.py. Filter by logged in receiver. -->
        <div class="accordion" id="accordionMessage">
        {% for message in messages %}
            {% if forloop.first %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="msg{{ forloop.counter }}">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="true" aria-controls="collapse2">
                      <span class="text-primary">Sent by {{ message.sender }} on {{ message.msg_sent }}</span> | {{ message.msg_subject }}
                  </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse show" aria-labelledby="msg{{ forloop.counter }}" data-bs-parent="#accordionMessage">
                        {% include 'message/msg_body_accordion.html' with message=message %}
                </div>
              </div>
            {% else %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="msg{{ forloop.counter}}">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ forloop.counter }}" aria-expanded="false" aria-controls="collapse{{ forloop.counter }}">
                      <span class="text-primary">Sent by {{ message.sender }} on {{ message.msg_sent }}</span>  | {{ message.msg_subject }}
                  </button>
                </h2>
                <div id="collapse{{ forloop.counter }}" class="accordion-collapse collapse" aria-labelledby="msg{{ forloop.counter }}" data-bs-parent="#accordionMessage">
                        {% include 'message/msg_body_accordion.html' with message=message %}
                  </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
        <div id="modalDiv" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>
    <div class="d-flex justify-content-center">
    <nav aria-label="Message paginator">

        <ul class="pagination mt-2">

            <li class="page-item"><a class="page-link" href="?page=1&items={{ messages.paginator.per_page }}">&laquo;</a></li>
            {% for page in messages.paginator %}
            <li class="page-item"><a class="page-link" href="?page={{ page.number }}">{{ page.number }}</a></li>
            {% endfor %}
            <li class="page-item"><a class="page-link" href="?page={{ messages.paginator.num_pages }}">&raquo;</a></li>

        </ul>
    </nav>
    </div>
    </div>
    <script>$(document).ready(function(){ init_messages(); });</script>
{% endblock %}